<div
  class="bg-blue-800 text-white w-[6rem] space-y-6 py-7 absolute inset-y-0 left-0 transform transition duration-200 ease-in-out">
  <!-- Home link -->
  <a routerLink="./"
     class="border-2 border-black bg-slate-400 hover:bg-slate-200 text-white py-1 px-[2%] block rounded-3xl">
    <span class="flex items-center">
      <fa-icon [icon]="faHomeAlt"></fa-icon>
      Home
    </span>
  </a>
  <a routerLink="./channel/{{channel.id}}" *ngFor="let channel of channels"
     class="border-2 border-black bg-slate-400 hover:bg-slate-200 text-white py-1 px-[2%] block rounded-3xl">
    <span class="flex items-center">
      <fa-icon [icon]="faHashtag"></fa-icon>
      {{ channel.name }}
    </span>
  </a>
  <div>

    <!-- create a new channel -->
    <app-dialog-modal-button (dialogActive)="setActive($event)" [title]="createChannel">
      <div *ngIf="dialogActive">

        <app-dialog-create-channel></app-dialog-create-channel>
      </div>
    </app-dialog-modal-button>

  </div>
  <div>

    <!-- Add more links here -->
    <app-logout-button></app-logout-button>

  </div>
</div>
